@model IEnumerable<Assignment1Furniture.Models.table2furniture>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Brand
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Furniture_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FloorTiles)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Furniture_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FloorTiles)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Brand }) |
            @Html.ActionLink("Details", "Details", new { id=item.Brand }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Brand })
        </td>
    </tr>
}

</table>
